p {
  margin: 0;
}
h2 {
  margin: 1px;
}

.button {
  cursor: pointer;
  color: wheat;
  display: inline-block;
  border: 4px solid rgb(118, 168, 30);
  border-radius: 5px;
  text-shadow: 1px 1px 0 sandybrown;
}
.button:hover {
  color: palegoldenrod;
}

.main {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9dd53a+0,a1d54f+50,80c217+51,7cbc0a+100;Green+Gloss+%231 */
  background: rgb(157,213,58); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#9dd53a", endColorstr="#7cbc0a",GradientType=0 ); /* IE6-9 */
}

.container {
  width: 960px;
  margin: 0 auto;
}

.topBar {
  position: relative;
}

.alert {
  display: inline-block;
}

.total {
  display: inline-block;
  margin: 0 0 0 auto;
}

div.board.done, div.board.fail, div.card.ignore, div.card.order {
  visibility: hidden;
  border: 0;
  padding: 0;
  margin: 0;
  height: 0;
  width: 0;
}

p.checkbox {
  display: inline-block;
}
div.checkbox {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,000000+83&0+9,0.13+83,0+100 */
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(227,227,227,0) 9%, rgba(0,0,0,0.13) 83%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(227,227,227,0) 9%,rgba(0,0,0,0.13) 83%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(227,227,227,0) 9%,rgba(0,0,0,0.13) 83%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00ffffff", endColorstr="#00000000",GradientType=0 ); /* IE6-9 */
  padding: 5px 0;
  z-index: 900000;
  position:relative;
}
input.checkbox {
  position: relative;
  z-index: -1;
}

#ignore, #noignore {
  float: right;
  clear: both;
}
