p {
  margin: 0;
}
h2 {
  margin: 1px;
}

.logo {
  display: inline-block;
  font-family: 'Rubik One', sans-serif;
}
.logoB {
  display: inline-block;
  padding: 1px 4px 0px 3px;
  margin-left: 1px;
  border-radius: 4px;
  color: white;
  font-weight: 400;
}
.button, .clicked{
  cursor: pointer;
  color: wheat;
  display: inline-block;
  border: 4px solid rgb(118, 168, 30);
  border-radius: 4px;
  text-shadow: 1px 1px 0 sandybrown;
}
.button:hover {
  color: palegoldenrod;
}

.main, .logoB {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9dd53a+0,a1d54f+50,80c217+51,7cbc0a+100;Green+Gloss+%231 */
  background: rgb(157,213,58); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#9dd53a", endColorstr="#7cbc0a",GradientType=0 ); /* IE6-9 */
}
.container {
  width: 960px;
  margin: 0 auto;
}
.topBar {
  position: relative;
}
.alert {
  display: inline-block;
  background-color: pink;
  color: red;
}
.total {
  display: inline-block;
  margin: 0 0 0 auto;
}

div.board.done, div.board.fail, div.card.ignore, div.card.order, div.store,
  p.order.card, input.order.card, p.ignore.card, input.ignore.card {
  visibility: hidden;
  font-size: 0;
  border: 0;
  padding: 0;
  margin: 0;
  height: 0;
  width: 0;
}
div.store{
  display: inline-block;
}
.board.button, .list.button, .card.button {
  margin: 0 auto;
}

p.checkbox {
  display: inline-block;
}
div.checkbox {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,000000+83&0+9,0.13+83,0+100 */
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%,
    rgba(227,227,227,0) 9%, rgba(0,0,0,0.13) 83%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,
    rgba(227,227,227,0) 9%,rgba(0,0,0,0.13) 83%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,
    rgba(227,227,227,0) 9%,rgba(0,0,0,0.13) 83%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00ffffff",
    endColorstr="#00000000",GradientType=0 ); /* IE6-9 */
  padding: 5px 0;
  z-index: 900;
  position:relative;
}
input.checkbox {
  position: relative;
  z-index: -1;
}
a.attachments {
  cursor: pointer;
  color: wheat;
  display: inline-block;
  text-shadow: 1px 1px 0 sandybrown;
}

.button:hover {
  color: palegoldenrod;
}
.button.graph {
  font-size: 50px;
  padding: 0 5px 7px 5px;
  position: fixed;
  left: -4px;
  margin-top: auto;
  margin-bottom: auto;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.topBar {
  background-color: rgba(255,255,255, .8);
  margin-bottom: 20px;
  padding: 3px;
}
.background {
  position: fixed;
  z-index: -5;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  overflow: hidden;
}

#ignore, #noignore {
  float: right;
  clear: both;
}
#logo {
  padding-left: 8px;
}
#boards, #lists {
  display: block;
  margin: 0 auto;
  text-align: center;
}
#biggun {
  width: 100%;
  height: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.3);
}
#graphBack {
  width: 80%;
  height: 80vw;
  position: fixed;
  top: 10%;
  left: 10%;
  background-color: white;
  border-radius: 4px;
  z-index: 1000;
}
